@import '../config';

article.sale-info {
   @include Flex(sb);
   position: relative;

   span.icon {
      position: absolute;
      left: 50%;
      top: 50%;
      translate: -50% -50%;
      height: 80%;
      aspect-ratio: 1;
      color: #2d2d2d;

      svg { @include FullSize; }
   }

   section {
      background: #303030;
      color: $clr-white;
      padding: 4em clamp(1em, 5vw, 4em);

      h1,
      p.para,
      div.refresh,
      button {
         position: relative;
         z-index: 9;
      }

      h1 {
         font-weight: 800;
         @include Clamp(2, 7, 3);
         color: #707070;
      }

      p.para {
         margin-bottom: 1.5em;
         @include Clamp(1, 4, 1.25);
         color: #d3d3d3;
         font-family: 'Baloo 2', cursive;
         font-weight: 600;
      }

      &.left {
         width: 60%;

         div.refresh {
            div {
               @include Flex(c, c);
               flex-direction: column;
               width: max-content;

               p {
                  &.number {
                     margin-bottom: .25em;
                     font-size: 1.75rem;
                     font-weight: 600;
                  }

                  &.type {
                     font-size: .95rem;
                  }
               }
            }
         }
      }

      &.right {
         width: 40%;

         button {
            padding: .75em 2em;
            border-radius: .2em;
            border: 0;
            outline: 0;
            cursor: pointer;
            transition: .3s;
            background: rgb(249, 122, 19);

            label {
               font-family: 'Baloo 2', cursive;
               font-weight: 600;
               font-size: 1rem;
               color: $clr-white;
            }

            &:hover {
               background: darken(rgb(249, 122, 19), 5%);
            }
         }
      }
   }

   @media (max-width: 1000px) {
      section {
         &.left { display: none; }
         &.right {
            width: 100%;
         }
      }
   }
}