@import '../config';

main.search-page {
   min-height: calc(100vh - $navHeight);
   
   div.main-page-wrap {
      padding: 3em clamp(.5em, 3vw, 2em);
      @include Flex(sb, none);

      div.no-found {
         @include Flex(c, c);
         width: 100%;
         flex-direction: column;

         p.info {
            @include Clamp(1.2, 5, 1.5);
            text-align: center;
            font-weight: 500;
            margin-bottom: .25em;
         }

         p.query {
            margin-bottom: 2em;
            text-align: center;
            font-size: 1.4rem;
            font-style: italic;
            font-family: 'Baloo 2', cursive;
         }

         figure {
            width: 25%;
            aspect-ratio: 1;
            min-width: 200px;

            img {
               @include FullSize;
               object-fit: cover;
            }
         }
      }
   }

   aside.search-aside {
      width: 20%;

      div.wrap {
         position: sticky;
         top: 2em;
      }

      section.categories-num {
         padding: 1em;
         background: rgb(250, 250, 250);
         border-radius: 1em;
         position: sticky;
         top: 50px;

         ul {
            list-style: none;

            li {
               padding: 1.25em 1em;
               font-size: .85rem;
               font-weight: 600;
               color: rgb(60, 60, 60);
               cursor: pointer;
               transition: .3s;

               &.active {
                  pointer-events: none;
                  color: royalblue;
               }

               &:hover {
                  color: cornflowerblue;
               }
            }
         }
      }

      div.query {
         margin-bottom: 2em;

         h6 {
            font-size: .8rem;
            text-transform: uppercase;
            font-weight: 800;
            color: rgb(80, 80, 80);
         }

         h1 {
            font-size: 1.75rem;
            font-weight: 800;
         }
      }
   }

   section.search-content {
      width: 78%;
      border-left: 2px solid $clr-black;
      padding-left: 1em;

      section.active-filters {
         display: flex;

         div.container {
            padding: .75em .5em;
            @include Flex(sb, c);
            border-radius: .5em;
            border: 1px solid royalblue;
            background: rgb(253, 253, 253);
            margin-bottom: 1em;
            &:not(:last-child) { margin-right: .5em; }

            div {
               @include Rectangle(12px);
               position: relative;
               cursor: pointer;

               span {
                  width: 100%;
                  height: 2px;
                  background: red;
                  @include Absolute(50%, 50%);
                  translate: -50% -50%;

                  &:first-child { rotate: 45deg; }
                  &:last-child { rotate: 315deg; }
               }
            }

            p {
               font-size: .9rem;
               font-weight: 600;
               pointer-events: none;
               margin-right: .75em;
            }
         }
      }

      section.filters {
         margin: 0em 0 2.5em 0;
         border-top: 1px solid $clr-black;
         border-bottom: 1px solid $clr-black;
         padding: 1em 0 .75em 0;

         button.toggler {
            padding: .75em 0;
            @include Rectangle(35px);
            border: 1px solid black;
            border-radius: .2em;
            outline: 0;
            background: rgb(250, 250, 250);
            @include Flex(c, c);
            cursor: pointer;
            margin-bottom: .5em;

            span {
               @include Rectangle(25px);
               transition: .3s;
               
               svg { @include FullSize; }
            }
         }

         section.filter-menu {
            display: none;
            transition: .3s;
            overflow: hidden;
            height: 0;
            background: rgb(248, 248, 248);
            border-radius: .15em;
            padding: 1em;

            div.wrap-dd {
               @include Flex;
               margin-top: 1.5em;
               width: 100%;
            }

            div.filter {
               &.dropdown {
                  min-width: 120px;
                  position: relative;
                  &:not(:last-child) { margin-right: 1em; }

                  div.current {
                     padding: .65em .5em;
                     border-radius: .25em;
                     border: 1px solid #303030;
                     background: rgb(250, 250, 250);
                     cursor: pointer;
                     @include Flex(sb, c);
                     font-weight: 600;
                     font-family: 'Baloo 2', cursive;
                     font-size: 1rem;

                     p, span { pointer-events: none; }   

                     span {
                        @include Rectangle(25px);
                        svg { @include FullSize; }
                     }
                  }

                  ul {
                     position: absolute;
                     top: 100%;
                     left: 0;
                     width: 100%;
                     display: none;
                     list-style: none;
                     height: 0;
                     overflow: hidden;
                     transition: .3s;
                     background: rgb(250, 250, 250);
                     border: 1px solid #303030;

                     li {
                        padding: .35em .5em;
                        border-radius: .25em;
                        background: rgb(250, 250, 250);
                        cursor: pointer;
                        font-weight: 500;
                        font-family: 'Baloo 2', cursive;
                        font-size: 1.1rem;
                        transition: .3s;

                        &:hover { background: rgb(242, 242, 242); }
                     }
                  }
               }

               &.price {
                  width: 45%;
                  min-width: max-content;
                  @include Flex(sb, c);

                  input {
                     width: 81%;
                     -webkit-appearance: none;
                     appearance: none; 
                     height: 20px;
                     border-radius: .5em;
                     border: 1px solid #878787;
                     outline: 0;

                     &::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        appearance: none;
                        width: 25px;
                        height: 25px;
                        background: orangered;
                        border-radius: 50%;
                        cursor: pointer;
                     }
                  }

                  p {
                     padding: .5em;
                     background: rgb(230, 230, 230);
                     border-radius: .15em;
                     font-weight: 600;
                     width: 80px;
                     min-width: max-content;
                     text-align: center;
                     font-size: .95rem;
                     margin-right: .5em;
                  }
               }
            }
         }
      }

      section.container {
         article.item {
            &:not(:last-child) { margin-bottom: 3em; }

            background: rgb(250, 250, 250);
            border-radius: .25em;
            @include Flex(sb, none);
            padding: .75em;

            figure {
               width: 23%;
               aspect-ratio: 1;
               overflow: hidden;
               @include Flex(c, c);

               img {
                  height: 100%;
               }
            }
            
            section {
               @include Flex(sb, none);
               flex-direction: column;

               &.first {
                  width: 45%;

                  ul {
                     padding-left: 1em;
                     text-indent: -1em;
                     list-style: none;

                     li {
                        position: relative;
                        display: flex;
                        font-family: 'Baloo 2', cursive;
                        font-size: 1rem;
                        font-weight: 500;
                        color: rgb(60, 60, 60);

                        &::before {
                           content: '\370';
                           width: 1em;
                        }
                     }
                  }

                  div.rating {
                     @include Flex(none, c);

                     span {
                        @include Rectangle(22px);

                        svg { @include FullSize; }

                        &.active { color: crimson; }
                     }

                     p {
                        margin-left: .25em;
                        color: crimson;
                        font-weight: 600;
                     }
                  }

                  h2 {
                     font-family: 'Baloo 2', cursive;
                     font-weight: 600;
                     @include Clamp(1.2, 4, 2);
                     color: rgb(50, 50, 50);
                  }


               }

               &.second {
                  width: 25%;

                  button {
                     padding: .75em 0;
                     width: 100%;
                     display: block;
                     cursor: pointer;
                     transition: .3s;
                     border: 0;
                     border-radius: .25em;
                     background: royalblue;

                     &,
                     label,
                     span { transition: .3s; }

                     &:first-child { margin-bottom: .5em; }

                     label {
                        color: $clr-white;
                        @include Clamp(.85, 4, 1.05);
                        font-family: 'Baloo 2', cursive;
                        font-weight: 500;
                        display: block;
                     }

                     &:hover {
                        background: darken(royalblue, 5%);
                     }

                     &.cart {
                        position: relative;
                        overflow: hidden;

                        span {
                           position: absolute;
                           left: 50%;
                           bottom: 100%;
                           translate: -50% 0;
                           transition: .3s;
                           @include Rectangle(25px);
                           color: white;
                  
                           svg { @include FullSize; }
                        }

                        &.true,
                        &.empty {
                           pointer-events: none;

                           label { translate: 0 200%; }

                           span {
                              bottom: auto;
                              top: 50%;
                              translate: -50% -50%;
                           }

                           &.true { background: green; }
                           &.empty { background: crimson; } 
                        }
                     }
                  }

                  div.price {
                     @include PriceStyle(
                        clamp(1.5rem, 4.5vw, 2.5rem), 
                        clamp(1rem, 4.5vw, 1.5rem)
                     );
                     @include Flex(c, c);
                     
                     &.active {
                        flex-direction: row !important;

                        h5 { 
                           margin-left: .5em; 
                           margin-right: 0; 
                        }
                     }

                     &:not(.active) {
                        justify-content: flex-end;
                     }

                     h6 { display: none; }
                  }
               }
            }
         }
      }
   }

   @media (max-width: 1000px) {
      div.main-page-wrap {
         flex-direction: column;
      }

      aside.search-aside {
         width: 100%;
         margin-bottom: 1em;

         section.categories-num { display: none; }
      }

      section.search-content {
         width: 100%;
         border-left: 0;

         section.container {
            @include Flex(sa);
            flex-wrap: wrap;
            align-items: stretch;

            article.item {
               flex-direction: column;
               width: 45%;

               figure {
                  margin: 0 auto;
                  width: 75%;
               }

               section {
                  &.first {
                     width: 100%;
                     ul { display: none; }
                  }

                  &.second {
                     width: 100%;

                     div.price {
                        margin: 1em 0;
                     }
                  }
               }
            }
         }
      }
   }

   @media (max-width: 480px) {
      aside.search-aside {
         div.query { margin-bottom: 0; }
      }
      
      section.search-content {
         div.current-location { display: none; }

         section.filters {
            section.filter-menu {
               div.filter {
                  &.price { width: 100%; }
               }
            }
         }

         section.container {
            article.item {
               width: 250px;
               max-width: 100%;
            }
         }
      }
   }
}