@import '../config';

main.contact {
   min-height: calc(100vh - $navHeight);

   section.entry {
      height: 45vh;
      position: relative;
      @include Flex(c, c);

      figure {
         @include Absolute(0, 0);
         @include FullSize;

         img {
            @include FullSize;
            object-fit: cover;
            filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
         }
      }

      div.text {
         position: relative;
         z-index: 2;
         color: $clr-white;
         text-align: center;

         h2 {
            font-weight: 700;
            font-size: 1.5rem;
            margin-bottom: .25em;
         }

         p {
            font-weight: 400;
            font-size: 1rem;
         }
      }
   }

   section.content {
      padding: 3em clamp(.5em, 3vw, 2em);

      h1 {
         font-weight: 700;
         font-size: 1.5rem;
         text-align: center;
         margin-bottom: 2.5em;
      }

      div.wrap {
         @include Flex(sa);

         section.main {
            width: 40%;

            h3.first-header {
               font-size: 1.25rem;
               font-weight: 600;
               font-family: 'Baloo 2', cursive;
               margin-bottom: 1.25em;
            }

            &.left {
               div.part {
                  &:first-of-type { margin-bottom: 2em; }

                  h4 {
                     color: #606060;
                     font-size: 1rem;
                     margin-bottom: .25em;
                     font-weight: 600;
                  }

                  p {
                     color: #404040;
                     font-size: .9rem;
                  }
               }
            }

            &.right {
               form {
                  background: rgb(240, 240, 240);
                  padding: 1em;
                  border-radius: .15em;
                  border-left: 2px solid crimson;

                  div.input {
                     margin-bottom: 2em;

                     p {
                        text-transform: uppercase;
                        font-size: .85rem;
                        color: #505050;
                        margin-bottom: .15em;
                        font-weight: 600;
                     }
                  }

                  input,
                  textarea {
                     outline: 0;
                     width: 100%;
                     padding: .5em .75em;
                     border-radius: .15em;
                     border:1px solid rgb(200, 200, 200);
                     background: rgb(230, 230, 230);
                     font-family: 'Baloo 2', cursive;
                     @include Clamp(.95, 4, 1.05);
                  }

                  textarea {
                     resize: none;
                     height: 30vh;
                  }

                  button {
                     width: 120px;
                     border-radius: .15em;
                     border: 0;
                     background: royalblue;
                     cursor: pointer;
                     transition: .3s;
                     padding: .5em 0;
                     margin-top: .5em;
                     outline: 0;

                     label {
                        color: $clr-white;
                        font-size: 1.05rem;
                        font-weight: 500;
                        font-family: 'Baloo 2', cursive;
                     }

                     &:hover { background: darken(royalblue, 5%); }
                  }
               }
            }
         }
      }
   }

   @media (max-width: 768px) {
      section.content {
         div.wrap {
            flex-direction: column-reverse;

            section.main {
               width: 100%;

               &.right {
                  margin: 1em 0 2em 0;
               }
            }
         }
      }
   }
}
