@import '../config';

section.comments {   
   @include Center(90%);
   transition: .3s;
   overflow: hidden;
   height: 0;
   display: none;

   h5 {
      text-transform: uppercase;
      font-size: .9rem;
      font-weight: 800;
      margin-bottom: 2em;
   }

   section.container {
      h2.empty {
         font-size: 1.75rem;
         font-family: 'Baloo 2', cursive;
         margin-bottom: 4em;
         color: #505050;
         font-weight: 500;
      }

      article.comment {
         &:not(:last-child) { margin-bottom: 5em; }

         section.user-info {
            @include Flex(none, c);

            figure {
               @include FullSize(clamp(35px, 12vw, 65px));
               border-radius: 50%;
               flex-shrink: 0;
               @include Flex(c, c);
               margin-right: 10px;
               overflow: hidden;
               
               img {
                  @include FullSize;
                  object-fit: cover;
               }
            }

            div.wrap {
               @include Flex(sb, c);
               width: 100%;

               div {
                  @include Flex(none, c);

                  p.rate-count { display: none; }

                  &.rating span {
                     @include Rectangle(clamp(15px, 5vw, 20px));

                     &.active {
                        color: crimson;
                     }

                     svg { @include FullSize;}
                  }
               }
            }
         }

         span.separate {
            margin: 0 .5em;
            color: #606060;
         }

         p {
            font-family: 'Baloo 2', cursive;

            &.name,
            &.date,
            &.author {
               @include Clamp(.85, 4, 1);
            }

            &.name {
               margin-left: .5em;
               font-weight: 700;
            }

            &.date {
               color: #606060;
               font-weight: 600;
            }

            &.author {
               font-weight: 500;
            }

            &.text {
               @include Center(calc(100% - 150px));
               font-size: 1rem;
               font-weight: 500;
            }
         }
      }
   }

   @media (max-width: 768px) {
      width: 95%;

      section.container { article.comment {
         p {
            &.text {
               width: 100%;
            }
         }

         section.user-info {
            div.wrap {
               flex-direction: column;
               align-items: flex-start;
            }
         }
      } }
   }
}