@import '../config';

section.main-info {
   position: relative;
   min-height: calc(100vh - $navHeight - 4em);
   @include Flex(sb, none);
   flex-direction: column;
   margin-bottom: 5em;

   section.icons {
      margin-top: .5em;
      
      div {
         @include Flex(none, c);
         color: #353535;
         cursor: pointer;

         span, p { transition: .3s }

         span {
            @include Rectangle(20px);
            margin-right: .25em;

            svg { @include FullSize; }
         }

         p {
            font-size: .85rem;
            font-weight: 500;
         }

         &:hover {
            color: #606060;
         }

         &.false { color: crimson; }
         &.true { color: green; }
      }
   }

   button {
      width: 100%;
      padding: 1em 0;
      outline: 0;
      border: 0;
      border-radius: .25em;
      background: royalblue;
      cursor: pointer;
      transition: .3s;
      margin-top: 1em;
      position: relative;
      overflow: hidden;

      span {
         position: absolute;
         left: 50%;
         bottom: 100%;
         translate: -50% 0;
         transition: .3s;
         @include Rectangle(25px);
         color: white;

         svg { @include FullSize; }
      }

      label {
         font-weight: 500;
         color: $clr-white;
         font-family: 'Baloo 2', cursive;
         font-size: 1.1rem;
         transition: .3s;
         display: block;
      }

      &:hover {
         background: darken(royalblue, 5%);
      }

      &.true,
      &.empty {
         pointer-events: none;

         label { translate: 0 200%; }

         span {
            bottom: auto;
            top: 50%;
            translate: -50% -50%;
         }

         &.true { background: green; }
         &.empty { background: crimson; } 
      }
   }

   section.size-select {
      h6 {
         font-size: .85rem;
         font-family: 'Baloo 2', cursive;
         font-weight: 500;
      }

      div.current {
         border: 1px solid #303030;
         border-radius: .2em;
         @include Flex(sb, c);
         width: 100%;
         padding: .75em;
         cursor: pointer;
         transition: .3s;

         p {
            pointer-events: none;
            font-weight: 500;
         }

         span {
            @include Rectangle(20px);
            pointer-events: none;
            svg { @include FullSize; }
         }
      }

      ul {
         height: 0;
         display: none;
         overflow: hidden;
         border: 1px solid #303030;
         transition: .3s;
         border-top: 0;
         list-style: none;

         li {
            cursor: pointer;
            @include Center(95%);
            border-bottom: 1px solid #808080;
            padding: 1em 0;
            @include Clamp(.9, 4, 1);

            &:last-child { border: 0; }
         }
      }
   }

   div.price {
      @include Flex(none, c);
      @include PriceStyle(
         clamp(2rem, 6vw, 2.25rem), 
         clamp(1.2rem, 5vw, 1.75rem), 
         clamp(.85rem, 4vw, 1.25rem)
      );
      margin: 1em 0;

      h6.percent-discount {
         border-radius: 0 0 0 .15em;
      }
   }

   div.rating {
      @include Flex(none, c);
      margin-bottom: 2em;

      span {
         @include Rectangle(20px);
         svg { @include FullSize; }

         &.active { color: crimson; }
      }

      p {
         font-size: 1rem;
         font-weight: 700;
         margin-left: .5em;
         color: crimson;
      }
   }

   h3.company {
      @include Clamp(1, 5, 1.2);
      color: rgb(60, 60, 60);
      font-weight: 500;
   }

   h1.name {
      font-weight: 700;
      @include Clamp(1.8, 8, 2.75);
   }
}