@import '../config';

section.opinions {
   form.write-comment {
      margin: 2em 0 3em 0;
      position: relative;

      h6 {
         font-weight: 700;
         font-family: 'Baloo 2', cursive;
         font-size: .95rem;
      }

      h5.result {
         position: absolute;
         left: 0;
         top: 102%;

      }

      div.wrap {
         @include Flex(sb, none);

         div.tas {
            position: relative;
            width: 80%;
            @include Flex(sb, none);
            flex-direction: column;

            textarea,
            input {
               width: 100%;
               outline: 0;
               border-radius: .15em;
               border: 1px solid #303030;
               font-weight: 600;
               font-family: 'Sora', sans-serif;

               &::placeholder {
                  font-size: .7rem;
                  opacity: .7;
               }
            }

            input {
               padding: .5em .75em;
               margin-bottom: .2em;
            }

            div.rating-form {
               position: absolute;
               right: 5px;
               bottom: 5px;
               z-index: 2;
               display: flex;

               span {
                  @include Rectangle(25px);
                  cursor: pointer;
                  color: grey;
                  transition: .1s;
                  margin-right: .1em;

                  svg { @include FullSize; pointer-events: none; }

                  &.active {
                     color: gold;
                  }
               }
            }

            textarea {
               resize: none;
               height: 200px;
               padding: .75em;
            }

         }

         div.aab {
            @include Flex(sb, none);
            flex-direction: column;
            width: 18%;

            button {
               width: 100%;
               padding: .5em 0;
               outline: 0;
               background: royalblue;
               border: 0;
               cursor: pointer;
               transition: .3s;
               border-radius: .25em;

               label {
                  font-family: 'Baloo 2', cursive;
                  @include Clamp(.85, 4, 1);
                  font-weight: 500;
                  color: $clr-white;
               }

               &:hover {
                  background: darken(royalblue, 5%);
               }
            }

            figure {
               @include FullSize(60px);
               width: 100%;
               aspect-ratio: 1;
               height: auto;
               overflow: hidden;
               border-radius: 50%;
               border: 1px solid #303030;
   
               img {
                  @include FullSize;
                  object-fit: cover;
               }
            }
         }

      }
   }

   button.toggler {
      width: 100%;
      padding: 1em 0;
      outline: 0;
      border-radius: .2em;
      transition: .3s;
      cursor: pointer;
      border: 1px solid #303030;
      background: rgb(240, 240, 240);

      label {
         font-family: 'Baloo 2', cursive;
         font-weight: 500;
         @include Clamp(.9, 5, 1.1);
      }

      &:hover {
         background: rgb(245, 245, 245);
      }
   }

   section.sum-rating {
      div.wrap {
         @include Flex(sb, c);
         align-items: stretch;
         color: crimson;
         &:not(:last-child) { margin-bottom: 1em; }

         p {
            font-weight: 700;
            font-size: 1.25rem;
         }

         div.first {
            width: 10%;
            @include Flex(sb, c);

            span {
               @include Rectangle(25px);
               svg { @include FullSize; }
            }
         }

         div.line {
            width: 70%;
            background: rgb(230, 230, 230);
            border-radius: .5em;
            overflow: hidden;

            div.fill {
               background: crimson;
               height: 100%;
            }
         }

         div.last {
            width: 10%;
            color: crimson;
         }
      }
   }
}