@import '../config';

main.product-page {
   section.main-content {
      @include Flex(sa, none);
      margin-bottom: 2em;

      section.image-container {
         width: 35%;
         height: calc(100vh - $navHeight);
         padding: 2em;
         position: sticky;
         top: $navHeight;

         section.all-images {
            width: 100%;
            height: 12%;
            display: flex;
            margin-top: 1em;

            figure {
               &:not(:last-child) { margin-right: .5em; }
               width: 27%;
               height: 100%;
               border: 2px solid #585858;
               border-radius: .2em;
               padding: .25em;
               cursor: pointer;
               @include Flex(c, c);

               img {
                  height: 100%;
                  pointer-events: none;
               }

               &.active {
                  pointer-events: none;
                  border-color: royalblue;
               }
            }
         }

         figure.main {
            width: 100%;
            height: 80%;
            background: rgb(235, 235, 235);
            @include Flex(c, c);
            border-radius: .15em;
            overflow: hidden;

            img {
               width: 100%;
            }
         }
      }
   
      article.content {
         width: 40%;
         padding: 2em;

         ul.dropdowns {
            list-style: none;
            margin-bottom: 5em;

            li {
               border-top: 1px solid #909090;
               &:last-child { border-bottom: 1px solid #909090; }
               padding-bottom: .5em;
               
               div.header {
                  @include Flex(sb, c);
                  padding: 1em 0 .5em 0;
                  cursor: pointer;

                  p {
                     font-family: 'Baloo 2', cursive;
                     font-weight: 600;
                     font-size: 1.1rem;
                     pointer-events: none;
                  }
                  
                  span {
                     pointer-events: none;
                     @include Rectangle(25px);
                     svg { @include FullSize; }
                  }
               }   

               div.inner {
                  display: none;
                  height: 0;
                  overflow: hidden;
                  transition: .3s;

                  div.info {
                     @include Flex(none, c);
                     font-size: 1rem;
                     &:not(:last-child) { margin-bottom: .5em; }
                     padding-left: 1em;
                     position: relative;

                     h5 {
                        font-weight: 600;
                        margin-right: .5em;
                     }

                     &::before {
                        content: '▮';
                        position: absolute;
                        left: 0;
                        top: 50%;
                        translate: 0 -50%;
                        color: #303030;
                     }
                  }

                  p {
                     font-size: .9rem;
                     color: #303030;
                  }
               }
            }
         }
      }

      @media (max-width: 1000px) {
         flex-direction: column;

         section.image-container {
            position: static;
            width: 100%;
            @include Flex(c, c);
            padding: 2em 0;
            height: auto;

            section.all-images {
               width: clamp(50px, 10vw, 80px);
               aspect-ratio: 1;
               flex-direction: column;

               figure {
                  width: 100%;
                  &:not(:last-child) { margin-bottom: .25em; }
               }
            }

            figure.main {
               width: 50vw;
               aspect-ratio: 1;
               background: none;

               img {
                  width: auto;
                  height: 100%;
               }
            }
         }

         article.content {
            width: 100%;
         }
      }

      @media (max-width: 480px) { article.content { padding: 2em .75em; } }
   }
}