@import '../config';

section.pending-orders {
    position: relative;
    
    section.container {
        article.order {
            background: rgb(17, 26, 68);
            padding: 1em;
            position: relative;
            &:not(:last-child) { margin-bottom: 1em; }

            section.infos {
                @include Flex(sb);
                margin-bottom: 2.5em;

                div {
                    flex-basis: 0;
                    flex-grow: 1;

                    p {
                        font-size: .9rem;
                        font-weight: 700;
                        &:not(:last-child) { margin-bottom: .5em; }

                        span {
                            color: rgb(230, 230, 230);
                            margin-left: .55em;
                        }

                        &.cost span {
                            font-size: 1.5rem;
                        }

                        span.pipe {
                            margin: 0 .25em;
                            font-weight: 800;
                        }
                    }

                    &.options {
                        @include Flex(fe, c);

                        span {
                            @include Rectangle(35px);
                            cursor: pointer;
                            transition: .3s;

                            svg { @include FullSize; pointer-events: none; }

                            &:hover { color: green; }
                        }
                    }
                }
            }

            p.show-products {
                @include Flex(none, c);
                font-size: .9rem;
                color: rgb(225, 225, 225);
                cursor: pointer;

                span {
                    margin-left: .25em;
                    @include Rectangle(20px);
                    transition: .3s;
                    pointer-events: none;

                    svg { @include FullSize; }
                }
            }

            section.products-container {
                height: 0;
                overflow: hidden;
                display: none;
                transition: .3s;

                article.item {
                    @include Flex(sb);
                    margin-top: 1em;

                    figure {
                        width: 8%;
                        aspect-ratio: 1;

                        img { @include FullSize; object-fit: cover; }
                    }

                    div {
                        &.text {
                            width: 30%;
                            
                            p {
                                &.company {
                                    font-size: .9rem;
                                    color: rgb(220, 220, 220);
                                    margin-bottom: .25em;
                                }

                                &.name {
                                    font-weight: 500;
                                }
                            }
                        }
                        
                        &.misc {
                            width: 30%;

                            p {
                                font-weight: 700;
                                font-size: .95rem;

                                span {
                                    margin-left: .25em;
                                }

                                &:first-child { margin-bottom: .5em; }
                            }
                        }

                        &.price {
                            width: 20%;
                            @include Flex(c, c);

                            p {
                                font-weight: 600;
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}