@import '../config';

article.delete-account {
   h1 {
      font-size: 1.75rem;
      font-weight: 600;
      margin-bottom: 2em;
   }

   p.warn {
      color: crimson;
      font-weight: 500;
      font-family: 'Baloo 2', cursive;
   }

   button {
      outline: 0;
      border: 0;
      background: crimson;
      border-radius: .2em;
      padding: .75em 0;
      width: 120px;
      cursor: pointer;
      transition: .3s;

      label {
         color: $clr-white;
         font-family: 'Baloo 2', cursive;
         font-weight: 500;
         font-size: 1rem;
      }

      &:hover { background: darken(crimson, 5%); }
   }
}