@import '../config';

article.user-info {
   position: relative;

   h6 {
      font-size: .9rem;
      font-weight: 500;
      position: absolute;
      left: 0;
      top: 100%;

      &.true { color: green; }
      &.false { color: red; }
   }

   section.entry-informations {
      @include Flex(none, c);
      margin-bottom: 3em;
      position: relative;

      figure {
         width: 10%;
         min-width: 50px;
         aspect-ratio: 1;
         border-radius: 50%;
         border: 2px solid white;
         overflow: hidden;
         margin-right: 1em;

         img {
            @include FullSize;
            object-fit: cover;
         }
      }

      div.wrap {
         width: 90%;
         @include Flex(sb);

         button {
            width: max-content;
            padding: .25em 1.5em;
            height: max-content;
            outline: 0;
            border: 1px solid $clr-black;
            border-radius: .2em;
            cursor: pointer;
            transition: .3s;
            background: none;

            label {
               font-weight: 500;
               font-family: 'Baloo 2', cursive;
            }

            &:hover { background: rgb(240, 240, 240); }
         }

         div.text {
            p {
               &.type {
                  @include Clamp(1, 4, 1.25);
                  font-weight: 600;
               }

               &.para {
                  color: #404040;
                  @include Clamp(.85, 4, .9);
                  font-weight: 500;
               }
            }
         }
      }
   }

   section.details {
      border: 1px solid rgb(230, 230, 230);
      border-radius: .2em;

      article.user-info {
         width: 100%;
         @include Flex(sb);

         &.margin {
            margin-bottom: 4em;
         }
   
         p.what {
            width: 50%;
            padding: .75em;
            background: rgb(240, 240, 240);
            @include Flex(none, c);
            font-weight: 600;
            color: #303030;
            @include Clamp(.85, 4, .95);
         }
   
         div {
            padding: .75em;
            background: rgb(235, 235, 235);
            width: 50%;
   
            input {
               @include FullSize;
               padding: .5em;
               font-family: 'Baloo 2', cursive;
               font-weight: 400;
               @include Clamp(.85, 4, 1.05);
               outline: 0;
               border: 0;
               background: rgb(245, 245, 245);
            }
         }
      }
   }
}