@import '../config';

nav.layout-navigation {
   box-shadow: 0 0 3px black;
   clip-path: 0px, 0px, 3px, 0px;

   section.bottom-bar {
      padding: 0 1.5em;
      @include Flex(sb, c);
      height: 65px;
      background: rgb(248, 248, 248);

      section {
         &.searchbar {
            width: 35%;
            position: relative;
            height: 40px;
            @include Flex(none, c);

            input {
               height: 100%;
               width: 100%;
               outline: 0;
               background: rgb(252, 252, 252);
               padding-left: .5em;
               border: 1px solid #303030;
               border-right: 0;
               @include Clamp(.85, 4, 1);
               font-family: 'Baloo 2', cursive;
               font-weight: 500;
               border-radius: .15em 0 0 .15em;
            }

            span {
               &.delete-icon {
                  position: absolute;
                  right: 0;
                  top: 50%;
                  transform: translate(-50%, -50%);
                  @include Rectangle(clamp(12px, 4vw, 20px));
                  color: crimson;
                  cursor: pointer;
                  transition: .3s;
                  pointer-events: none;
                  opacity: 0;

                  svg {
                     @include FullSize;
                     pointer-events: none;
                  }

                  &:hover {
                     color: red;
                  }
               }

               &.search-icon {
                  height: 100%;
                  @include Flex(c, c);
                  background: rgb(252, 252, 252);
                  border: 1px solid #303030;
                  border-left: 0;
                  border-radius: 0 .15em .15em 0;
                  aspect-ratio: 1;
                  
                  svg {
                     @include Rectangle(clamp(16px, 5vw, 25px));
                     transition: .3s;
                  }
               }
            }
         }

         &.logo {
            cursor: pointer;
            width: 10%;

            figure {
               @include FullSize;
               @include Flex(c, c);

               img {
                  width: 100%;
               }
            }
         }

         &.icons {
            ul {
               list-style: none;
               display: flex;

               li {
                  position: relative;
                  &:not(:last-child) { margin-right: 1em; }
                  transition: .2s;

                  section.nav-menu {
                     position: absolute;
                     background: rgb(240, 240, 240);
                     top: 100%;
                     right: 0;
                     border-radius: .15em;
                     padding: 1em;
                     max-width: 99vw;
                     z-index: 99;
                     pointer-events: none;
                     opacity: 0;
                     transition: .3s;
                     width: max-content;
                     max-width: 100vw;

                     &.basket-menu {
                        width: 400px;
                        font-family: 'Baloo 2', cursive;

                        section.items {
                           margin-top: 2em;

                           p.rest {
                              font-weight: 600;
                              color: #404040;
                           }

                           div.item {
                              @include Flex(sb, none);

                              p {
                                 font-family: 'Baloo 2', cursive;
                                 font-weight: 500;

                                 &.name {
                                    width: 55%;
                                 }

                                 &.price {
                                    width: 20%;
                                    text-align: right;
                                 }
                              }

                              figure {
                                 width: 20%;
                                 aspect-ratio: 1;

                                 img {
                                    @include FullSize;
                                    object-fit: cover;
                                 }
                              }
                           }
                        }

                        a {
                           width: 100%;
                           text-decoration: none;
                           background: royalblue;
                           border-radius: .15em;
                           cursor: pointer;
                           transition: .3s;
                           text-align: center;
                           padding: .5em 0;
                           margin: 1.5em auto 0 auto;
                           display: block;
                           font-family: 'Baloo 2', cursive;
                           font-weight: 500;
                           color: $clr-white;

                           &:hover { background: darken(royalblue, 10%); }
                        }

                        h2.empty {
                           padding: 3em 0;
                           font-size: 1.5rem;
                           text-align: center;
                           font-weight: 500;
                        }

                        section.summary-info {
                           font-family: 'Baloo 2', cursive;
                           width: 100%;

                           div {
                              @include Flex(sb, c);
                           }

                           span {
                              display: block;
                              @include Center(80%);
                              height: 2px;
                              margin-top: 1em;
                              background: royalblue;
                           }
                           
                           p {
                              font-weight: 600;
                              font-size: 1.2rem;
                           }
                        }
                     }

                     &.user-menu {
                        max-width: 100vw;

                        ul.list {
                           margin-top: 2em;
                           flex-direction: column;

                           li {
                              font-family: 'Baloo 2', cursive;
                              font-size: 1rem;
                              @include Flex(sb, c);
                              width: 100%;
                              padding: .5em;
                              transition: .3s;
                              cursor: pointer;

                              p {
                                 font-weight: 500;
                                 transition: .3s;
                              }

                              span {
                                 @include Rectangle(25px);

                                 svg {
                                    @include FullSize;
                                 }
                              }

                              &:not(:last-child) { margin-bottom: .5em; }

                              &:hover {
                                 p { scale: 1.1; }
                              }
                           }
                        }

                        section.usr {
                           width: 300px;
                           max-width: 100%;

                           button {
                              border-radius: .15em;
                              width: 100%;
                              padding: .75em 0;
                              outline: 0;
                              border: 0;
                              cursor: pointer;
                              transition: .3s;
                              position: relative;

                              label { 
                                 color: $clr-white; 
                                 font-weight: 600;
                                 font-family: 'Baloo 2', cursive;
                              }

                              &.join {
                                 background: royalblue;
                                 &:hover { background: darken(royalblue, 10%); }
                              }

                              &.login {
                                 background: purple;
                                 &:hover { background: darken(purple, 10%); }
                              }

                              &.logout {
                                 background: crimson;
                                 &:hover { background: darken(crimson, 10%); }
                              }
                           }

                           &.logged {
                              p.greet {
                                 font-size: .9rem;
                                 font-weight: 500;
                                 margin-bottom: .25em;   
                                 color: #454545;
                              }
                           }

                           &.not-logged {
                              @include Flex(c, c);
                              flex-direction: column;
   
                              div.or {
                                 margin: 1em 0;
                                 position: relative;
                                 width: 100%;
   
                                 span {
                                    @include Absolute(50%, 50%);
                                    transform: translate(-50%, -50%);
                                    width: 100%;
                                    height: 2px;
                                    background: black;
                                 }
   
                                 p {
                                    text-transform: uppercase;
                                    font-weight: 700;
                                    position: relative;
                                    text-align: center;
                                    background: rgb(240, 240, 240);
                                    margin: 0 auto;
                                    width: max-content;
                                    padding: 0 .5em;
                                    z-index: 3;
                                 }
                              }
                           }
                        }
                     }
                  }

                  span.icon-entry {
                     @include Rectangle(clamp(25px, 6vw, 28px));
                     cursor: pointer;
                     transition: .3s;

                     svg {
                        @include FullSize;
                        pointer-events: none;
                     }
                  }

                  &:hover {
                     span.icon-entry { scale: 1.05; }

                     section.nav-menu {
                        pointer-events: all;
                        opacity: 1;
                     }
                  }

                  &:nth-child(1) {
                     &:hover span.icon-entry { color: red; }
                  }

                  &:nth-child(2),
                  &:nth-child(3) {
                     &:hover span.icon-entry { color: royalblue; }
                  }
               }
            }
         }
      }
   }

   section.upper-bar {
      @include Flex(sb, c);
      padding: .25em;
      background: #A8A4F2;
      background: -webkit-linear-gradient(top left, #A8A4F2, #51A1B5);
      background: -moz-linear-gradient(top left, #A8A4F2, #51A1B5);
      background: linear-gradient(to bottom right, #A8A4F2, #51A1B5);
      @include Flex(c, c);

      h1 {
         @include Clamp(.9, 5, 1.5);
         word-spacing: 2px;
         color: $clr-white;
         font-weight: 800;
         font-family: 'Baloo 2', cursive;
         text-transform: uppercase;
      }
   }

   @media (max-width: 768px) {
      section.bottom-bar {
         section {
            &.searchbar {
               width: 55%;
            }

            &.logo { display: none; }
         }
      }
   }

   @media (max-width: 480px) {
      section.upper-bar { display: none; }

      section.bottom-bar {
         padding: 0 .5em;

         section {
            &.icons {
               ul { li {
                  &:nth-child(1) {
                     span.icon-entry { display: none; }
                  }
               } }
            }
         }
      }
   }
}