article.delete-account h1 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 2em;
}
article.delete-account p.warn {
  color: crimson;
  font-weight: 500;
  font-family: "Baloo 2", cursive;
}
article.delete-account button {
  outline: 0;
  border: 0;
  background: crimson;
  border-radius: 0.2em;
  padding: 0.75em 0;
  width: 120px;
  cursor: pointer;
  transition: 0.3s;
}
article.delete-account button label {
  color: rgb(245, 245, 245);
  font-family: "Baloo 2", cursive;
  font-weight: 500;
  font-size: 1rem;
}
article.delete-account button:hover {
  background: #c51236;
}