footer.layout-footer {
  padding: 4em;
  background: rgb(34, 44, 58);
  color: rgb(245, 245, 245);
  padding-bottom: 1em;
}
footer.layout-footer div.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer.layout-footer div.bar p {
  font-family: "Baloo 2", cursive;
  font-size: 1rem;
}
footer.layout-footer div.logo {
  margin-bottom: 4em;
  font-weight: 800;
  font-family: "Baloo 2", cursive;
  letter-spacing: 1px;
}
footer.layout-footer section.wrap {
  margin-bottom: 5em;
  display: flex;
  justify-content: space-between;
  align-items: none;
}
footer.layout-footer section.wrap section.right {
  width: 25%;
}
footer.layout-footer section.wrap section.right div.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1em;
}
footer.layout-footer section.wrap section.right div.icons span {
  margin-left: 0.25em;
  display: block;
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: 0.3s;
}
footer.layout-footer section.wrap section.right div.icons span svg {
  width: 100%;
  height: 100%;
}
footer.layout-footer section.wrap section.right article.footer-contact {
  width: 100%;
  background: rgb(52, 67, 90);
  padding: 1.5em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 2em 1em 2em 1em;
  flex-direction: column;
  color: rgb(134, 146, 162);
}
footer.layout-footer section.wrap section.right article.footer-contact p {
  font-size: 0.9rem;
  letter-spacing: 1px;
}
footer.layout-footer section.wrap section.right article.footer-contact p:not(:last-child) {
  margin-bottom: 0.5em;
}
footer.layout-footer section.wrap section.right article.footer-contact p.location {
  margin-top: 1.5em;
}
footer.layout-footer section.wrap ul {
  list-style: none;
}
footer.layout-footer section.wrap ul li:first-child {
  font-weight: 800;
  margin-bottom: 1.5em;
}
footer.layout-footer section.wrap ul li:not(:first-child) {
  color: rgb(115, 151, 200);
  font-weight: 500;
  margin-bottom: 0.75em;
  cursor: pointer;
  transition: 0.3s;
}
footer.layout-footer section.wrap ul li:not(:first-child):hover {
  color: rgb(87, 114, 151);
}