section.show-products {
  width: 90%;
  margin: 0 auto;
  margin-top: 8em;
}
section.show-products:last-of-type {
  margin-bottom: 8em;
}
section.show-products h2 {
  font-size: 2.25rem;
  font-weight: 700;
  font-family: "Baloo 2", cursive;
}
section.show-products section.container {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 1.5em;
}
section.show-products section.container::-webkit-scrollbar {
  height: 12px;
  background: #303030;
}
section.show-products section.container::-webkit-scrollbar-thumb {
  height: 100%;
  background: orange;
}
section.show-products section.container article.item {
  flex-shrink: 0;
  width: 20%;
  cursor: pointer;
  position: relative;
}
section.show-products section.container article.item:not(:last-child) {
  margin-right: 0.75em;
}
section.show-products section.container article.item p {
  font-family: "Baloo 2", cursive;
  font-weight: 500;
  font-size: 1.1rem;
}
section.show-products section.container article.item div.price {
  display: flex;
  justify-content: none;
  align-items: center;
}
section.show-products section.container article.item div.price h4,
section.show-products section.container article.item div.price h5 {
  font-weight: 600;
  color: rgb(222, 4, 4);
  font-size: 1.25rem;
}
section.show-products section.container article.item div.price h5 {
  margin-right: 0.75em;
}
section.show-products section.container article.item div.price h6.percent-discount {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1rem;
  background: orangered;
  color: rgb(245, 245, 245);
  padding: 0.15em;
  font-weight: 700;
}
section.show-products section.container article.item div.price.active {
  justify-content: flex-end;
  flex-direction: row-reverse;
}
section.show-products section.container article.item div.price.active h4 {
  font-size: 1rem;
  color: rgb(45, 45, 45);
  position: relative;
}
section.show-products section.container article.item div.price.active h4::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  translate: -50% -50%;
  width: 120%;
  height: 2px;
  background: rgb(45, 45, 45);
}
section.show-products section.container article.item div.price h6.percent-discount {
  left: 0;
  right: auto;
  border-radius: 0 0 0.2em 0;
}
section.show-products section.container article.item figure img {
  width: 100%;
  transition: 0.3s;
}
section.show-products section.container article.item:hover figure img {
  scale: 1.1;
}