section.section-info {
  height: 60vh;
  position: relative;
  user-select: none;
}
section.section-info figure {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: auto;
  right: auto;
}
section.section-info figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.section-info article.text {
  position: relative;
  z-index: 4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
section.section-info article.text button {
  padding: 0.85em 2.5em;
  border-radius: 0.15em;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: 0.3s;
  background: purple;
}
section.section-info article.text button label {
  color: rgb(245, 245, 245);
  font-family: "Baloo 2", cursive;
  font-weight: 500;
  font-size: 1.1rem;
}
section.section-info article.text button:hover.purple {
  background: #4d004d;
}
section.section-info article.text div.paragraphs {
  font-family: "Baloo 2", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.section-info article.text div.paragraphs h1 {
  font-weight: 700;
  font-size: 2.25rem;
}
section.section-info article.text div.paragraphs p {
  font-weight: 500;
  font-size: 1.25rem;
  width: 70%;
  text-align: center;
}
section.section-info article.text.light h1 {
  color: rgb(245, 245, 245);
}
section.section-info article.text.light p {
  color: rgb(220, 220, 220);
  text-shadow: 0 0 2px rgb(45, 45, 45);
}
section.section-info article.text.dark div.paragraphs {
  background: rgba(255, 255, 255, 0.7);
  padding: 0.5em;
  border-radius: 0.25em;
}