@import '../config';

section.offer {
   min-height: 100vh;
   padding: 2em clamp(.25em, 3vw, 2em);
   @include Flex(sb, none);

   section.daily { 
      background:rgb(250, 250, 250);
      border-radius: .5em;
   }

   section.wrap {
      @include Flex(sb, none);
      flex-direction: column;
      width: 63%;

      section.expiry {
         position: relative;
         padding: 2em 0;

         figure {
            @include Absolute(0, 0);
            @include FullSize;

            img {
               @include FullSize;
               object-fit: cover;
            }
         }

         article {
            @include FullSize;
            @include Flex(c, c);
            flex-direction: column;
            position: relative;
            z-index: 3;
            color: $clr-white;

            h2 {
               @include Clamp(.85, 4, .9);
               text-transform: uppercase;
               font-weight: 600;
            }

            h3 {
               @include Clamp(1.75, 6, 3);
               text-shadow: 0 0 6px $clr-black;
               margin-top: .25em;
               font-weight: bold;
               font-family: 'Courier New', Courier, monospace;
            }
         }
      }

      article.first-section {
         background:rgb(250, 250, 250);
         padding: .5em;
         @include Flex(sb, c);
         align-items: stretch;

         div.item {
            @include Flex(sa, c);
            flex-direction: column;
            padding: 1em .5em;
            width: 23%;
            border: 2px solid whitesmoke;
            border-radius: .5em;
            background: rgb(250, 250, 250);
            position: relative;

            section.menu-hover {
               @include Absolute(0, 0);
               @include FullSize;
               background: rgb(230, 230, 230);
               opacity: 0;
               pointer-events: none;
               transition: .3s;
               padding: .5em;
               @include Flex(sa, c);
               flex-direction: column;
               
               h6 {
                  @include Clamp(.9, 4, 1.1);
                  text-align: center;
               }

               button {
                  width: 80%;
                  padding: .75em 0;
                  outline: 0;
                  background: royalblue;
                  border-radius: .2em;
                  transition: .3s;
                  border: 0;
                  cursor: pointer;

                  label {
                     color: $clr-white;
                     font-weight: 600;
                     font-family: 'Baloo 2', cursive;
                     @include Clamp(.85, 4, .9);
                     text-transform: uppercase;
                  }

                  &:hover { background: darken(royalblue, 5%); }
               }
            }

            h6,
            p {
               font-size: .9rem;
            }

            h6 {
               font-weight: 800;
            }

            p {
               text-align: center;
               margin-top: .25em;
               font-weight: 500;
            }

            span {
               @include Rectangle(clamp(40px, 13vw, 100px));
               border-radius: 50%;
               @include Flex(c, c);
               margin-bottom: 2em;
               position: relative;

               &::before,
               &::after {
                  content: '';
                  border-radius: 50%;
                  background: orangered;
                  @include Rectangle(15px);
                  position: absolute;
               }

               svg {
                  @include FullSize(70%);
               }
            }

            &:nth-child(1) {
               span::before { left: 0; top: 0; }
               span::after { right: 0; bottom: 0; }
            }

            &:nth-child(3) {
               span::before { right: 0; top: 0; }
               span::after { left: 0; bottom: 0; }
            }

            &:nth-child(2) {
               span::before { left: 50%; top: 0; translate: -50% 0; }
               span::after { left: 50%; bottom: 0; translate: -50% 0; }
            }

            &:nth-child(4) {
               span::before { left: 0; top: 50%; translate: -100% -50%; }
               span::after { right: 0; top: 50%; translate: 100% -50%; }
            }

            &:hover {
               section.menu-hover {
                  opacity: 1;
                  pointer-events: all;
               }
            }
         }
      }
   }

   section.daily {
      width: 35%;
      @include Flex(sb, c);
      flex-direction: column;
      position: relative;

      div.price {
         @include Flex(c, c);
         @include PriceStyle;

         h6 { display: none; }
      }

      h3.name {
         font-size: 1.25rem;
         font-weight: 500;
         text-align: center;
      }
      
      h1 {
         width: 100%;
         text-align: center;
         background: rgb(185, 51, 51);
         border-radius: 0 0 1.5em 1.5em;
         color: $clr-white;
         padding: .3em 0;
         font-weight: 500;
         @include Clamp(1.25, 5, 1.5);
         letter-spacing: 1px;
         font-family: 'Baloo 2', cursive;
      }

      figure {
         width: 65%;
         aspect-ratio: 1;

         img {
            @include FullSize;
            object-fit: cover;
         }
      }

      a {
         background: rgb(191, 56, 56);
         color: $clr-white;
         text-decoration: none;
         padding: .75em 0;
         width: 100%;
         @include Flex(c, c);
         font-weight: 500;
         transition: .3s;

         span {
            @include Rectangle(20px);
            transition: .3s;

            svg { @include FullSize; }
         }

         &:hover {
            background: rgb(181, 47, 47);
            span { translate: 50% 0; }
         }
      }

      section.buttons {
         width: 100%;
         @include Flex(sa, c);

         button {
            padding: .75em 2em;
            outline: 0;
            cursor: pointer;
            transition: .3s;
            border-radius: .25em;
            border: 2px solid rgb(185, 51, 51);

            label {
               font-weight: 500;
               font-size: 1.1rem;
               font-family: 'Baloo 2', cursive;
            }

            &.cart {
               background: rgb(185, 51, 51);
               border: 0;

               label {
                  color: $clr-white;
               }

               &:hover {
                  background: darken(rgb(185, 51, 51), 10%);
               }
            }

            &.page {
               background: none;

               label {
                  color: rgb(185, 51, 51);
               }

               &:hover {
                  label { color: $clr-white; }
                  background: rgb(185, 51, 51);
               }
            }
         }
      }
   }

   @media (max-width: 1000px) {
      flex-direction: column;

      section.wrap {
         width: 100%;
      }

      section.daily {
         width: 100%;

         figure {
            width: 300px;
            max-width: 70vw;
         }

         h3.name {
            margin: 1em 0 .25em 0;
         }

         a {
            margin-top: 2em;
         }

         button {
            margin-top: 1em;
         }
      }
   }

   @media (max-width: 480px) {
      section.wrap {
         article.first-section {
            flex-wrap: wrap;

            div.item {
               width: 50%;

               span {
                  &::before,
                  &::after { display: none; }
               }
            }
         }
      }
   }
}