@import '../config';

header.homepage-header {
   @include Center(90%);
   margin: 1em auto;
   height: 65vh;
   border-radius: .5em;

   section.slider {
      @include FullSize;
      position: relative;
      overflow: hidden;
      border-radius: .5em;

      span.slider-arrow {
         translate: 0 -50%;
         position: absolute;
         top: 50%;
         display: block;
         z-index: 9;
         @include Rectangle(clamp(30px, 10vw, 60px));
         cursor: pointer;
         transition: .2s;
         color: whitesmoke;
         filter: drop-shadow(0 0 1px black);
         border-radius: 50%;

         svg { @include FullSize; pointer-events: none; }

         &:first-of-type {
            left: 0;
            translate: 50%;
         }

         &:last-of-type {
            right: 0;
            translate: -50%;
         }

         &:hover {
            color: rgb(210, 210, 210);
         }
      }

      div.moving {
         @include FullSize;
         display: flex;
         translate: -100% 0;
         transition: 1s;

         figure {
            flex-shrink: 0;
            @include FullSize;

            img {
               @include FullSize;
               object-fit: cover;
            }
         }
      }
   }
}