// font-family: 'Sora', sans-serif;
// font-family: 'Baloo 2', cursive;
@import './config';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-weight: 400;
   scroll-behavior: smooth;
}

div.App { overflow-x: hidden; }

body {
   width: 100vw;
   overflow-x: hidden;
   min-height: 100vh;
   font-family: 'Sora', sans-serif;
   background: rgb(245, 245, 245);

   &::-webkit-scrollbar {
      width: 6px;
      background: grey;
   }

   &::-webkit-scrollbar-thumb {
      width: 100%;
      border-radius: .5em;
      background: royalblue;
   }
}

div.arrow-top {
   position: fixed;
   z-index: 9;
   right: 5px;
   bottom: 5px;
   pointer-events: none;
   opacity: 0;
   transition: .3s;

   span {
      cursor: pointer;
      transition: .3s;
      @include Rectangle(clamp(25px, 8vw, 35px));
      color: royalblue;

      svg {
         @include FullSize;
      }
   }

   &:hover {
      span { scale: 1.1; }
   }
}

h6.submit-product-result {
   @include Absolute(50%, 50%);
   translate: -50% -50%;
   position: fixed;
   padding: 2em;
   width: 50%;
   border-radius: .2em;
   background: rgb(59, 95, 206);
   border: 3px solid rgb(40, 50, 75);
   text-align: center;
   color: $clr-white;
   font-size: 1.25rem;
   font-family: 'Baloo 2', cursive;
}